<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user.css">
    <title>Document</title>
</head>
<body>
    <div class="section">
    <div class="Login-box">
        <form action="/login">
            <h2>Login</h2>
            <!-- <div class="input-box">
                <span class="icons"><ion-icon name="document-text"></ion-icon></span>
                <input type="text" name="Username" required>
                <label for="Username">Full Name</label>
            </div> -->
            <div class="input-box">
                <span class="icons"><ion-icon name="mail"></ion-icon></span>
                <input type="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-box">
                <span class="icons"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <a href="#">Forgotten Password?</a>
            <button type="submit" name="submit">Submit</button>
            
        </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</div>
</body>
</html>